{{>header}}
{{>navbar}}
 <form class="container mt-5">
        <div class="mb-3">
            <input class="form-control" placeholder="Title" name="title">
        </div>
        <div class="mb-3">
            <input class="form-control" placeholder="Content" name="content">
        </div>
        <div class="mb-3">
            <button class="btn btn-primary">add</button>
        </div>
    </form>
{{>footer}}