{{>header}}
{{>navbar}}
<section class="container">
    <table class="table table-dark table-striped mt-5">
        <thead>
            <tr>
            <th class="text-center">Title</th>
            <th class="text-center">Content</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">{{task.title}}</td>
                <td class="text-center">{{task.content}}</td>
            </tr>
        </tbody>
        
      
  
   </table>
     <div class="mt-5">
                <a href="/" class="btn btn-success">Back to home</a>


        </div>
</section>
{{>footer}}